<p>
  <strong>フォルダ名</strong>
  <%= @folder.title %>
</p>


<% @folder.links.each do |link| %>
  <h3><strong><%= link.name %></strong></h3>
  <ul>
    <li><%= link.url %></li>
  </ul>
  <p><%= link_to "編集", edit_link_path(link) %></p>
  <p><%= link_to "削除", link_path(link), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>


<%= link_to "リンクを追加", new_link_path(folder_id: @folder) %>
<%= link_to "戻る", folders_path %>
